<!-- component -->
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
  defer></script>

<div x-data="{ modelOpen: false }">
  <% if (locals.user&&locals.user.isAdmin) { %> <!-- if user is logged in -->
    <button
    @click="modelOpen =!modelOpen"
    class="flex items-center justify-center px-3 py-2 space-x-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:bg-blue-700 hover:bg-blue-600 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5"
      viewBox="0 0 20 20"
      fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
        clip-rule="evenodd" />
    </svg>

    <span>Add new player</span>
  </button>
  <% } %>

  <div
    x-show="modelOpen"
    class="fixed inset-0 z-50 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true">
    <div
      class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
      <div
        x-cloak
        @click="modelOpen = false"
        x-show="modelOpen"
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
        aria-hidden="true"></div>

      <div
        x-cloak
        x-show="modelOpen"
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        class="inline-block w-full max-w-lg p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl">
        <div class="flex items-center justify-between space-x-4">
          <h1 class="text-xl font-medium text-gray-800">Add New Player</h1>

          <button
            @click="modelOpen = false"
            class="text-gray-600 focus:outline-none hover:text-gray-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
        </div>

        <p class="mt-2 text-sm text-gray-500">
          Add a new player with the information below.
        </p>

        <form method="POST" action="/player/players">
          <label
            for="name"
            class="text-gray-800 text-sm font-medium leading-tight tracking-normal"
            >Player Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            required
            id="name"
            class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-blue-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
            placeholder="Ronaldo" />

          <label
            for="image"
            class="text-gray-800 text-sm font-medium leading-tight tracking-normal"
            >Image Link</label
          >
          <div class="relative mb-5 mt-2">
            <input
              type="text"
              id="image"
              name="image"
              required
              class="text-gray-600 focus:outline-none focus:border focus:border-blue-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
              placeholder="Paste football player image here" />
          </div>

          <label
              for="career"
              class="text-gray-800 text-sm font-medium leading-tight tracking-normal"
              >Career</label
            >
            <div class="relative mb-5 mt-2">
              <textarea
              class="
                form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
              "
              name="career"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Input description for nation"
            ></textarea>
            </div>

          <label
            class="text-gray-800 text-sm font-medium leading-tight tracking-normal"
            >Nation</label
          >
          <div class="relative mb-5 mt-2">
            <div class="flex justify-center">
              <div class="xl:w-full">
                <select
                  name="nation"
                  class="form-select appearance-none block w-full px-3 py-1.5 text-sm font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  aria-label="Default select example">
                  <option selected>Select a nation</option>
                  <% nations.forEach(function(nation) { %>
                  <option value="<%= nation._id %>"><%= nation.name %></option>
                  <% }); %>
                </select>
              </div>
            </div>
          </div>
          <label
            class="text-gray-800 text-sm font-medium leading-tight tracking-normal"
            >Position</label
          >
          <div class="relative mb-5 mt-2">
            <div class="flex justify-center">
              <div class="xl:w-full">
                <select
                  name="position"
                  class="form-select appearance-none block w-full px-3 py-1.5 text-sm font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  aria-label="Default select example">
                  <option selected>Select a position</option>
                  <% positions.forEach(function(position) { %>
                  <option value="<%= position %>"><%= position %></option>
                  <% }); %>
                </select>
              </div>
            </div>
          </div>
          <label
            for="goals"
            class="text-gray-800 text-sm font-medium leading-tight tracking-normal"
            >Goals</label
          >
          <div class="relative mb-5 mt-2">
            <div class="flex justify-center">
              <div class="xl:w-full">
                <input
                  type="number"
                  id="goals"
                  name="goals"
                  required
                  class="form-control block w-full px-3 py-1.5 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  placeholder="Number of goals" />
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="relative mb-5 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                  type="checkbox"
                  id="isCaptain"
                  name="isCaptain" />
                <label
                  class="form-check-label inline-block text-gray-600"
                  for="isCaptain">
                  This player is a captain?
                </label>
              </div>
            </div>
          </div>

          <div class="flex justify-end mt-6">
            <button
              type="submit"
              class="px-3 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:bg-blue-700 hover:bg-blue-600 focus:outline-none focus:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
              Add Player
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
